div{
width: 100%;
heigth: auto;
}

#banner
{
background-image: url(img/BG02.png);
background-repeat: no-repeat;
background-size:100%;
}

body {
display: block;
font-family: sans-serif;
margin: -0.1px;

}

#borda_texto{
-webkit-text-stroke-width: 3px;
-webkit-text-stroke-color:#01a0c4;
font-size: 1.9em; color: #FFF;
}

.img1 { 
    height: 50%; 
    width: 50%;
    text-align:center;
    padding: 20px 0px 0px 0px;
    
}

#menu ul {
    margin: 0;
    padding:0;
    /*font-size:20px;*/
    list-style:none;
}

#menu ul li { 
    display: inline; 
}
 
li {
    list-style: none; 
    margin: 10px;
    display: inline;
}
li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid rgb(255, 255, 255); 
    /*background: #01a0c4;*/
    text-decoration: none;
    /*color:rgb(255, 255, 255);*/
    color: #01a0c4;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
li a:hover {
    /*background: #032228;*/
    /*color: rgb(255, 255, 255);*/
    color: #032228; 
    border-color: rgb(255, 255, 255);
    opacity: 0.8;
}

/*input[type=text], input[type=password] {
    width: 10%;
    padding: 4px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #d3d3d3;
    color: rgb(0, 0, 0);
    padding: 7px 20px;
    margin: 8px 80px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    width: 8%;
}

button:hover {
    background-color: #b4b4b4;
    opacity: 0.8;
    color:rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}
*/
.login {
    text-align: center;
    width: 500;
    height: 400;
    margin: 50 0 0 0px
}
#menu{
position: fixed;
width: -webkit-fill-available;
background-color: white;
/*opacity: 0.9;*/
margin: -9 auto;
}

section{
    padding: 45px;
}

form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 50%;
    /* Para ver as bordas do formulário */
    padding: 30px;
    border: 1px solid #CCC;
    border-radius: 1em;
}

label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 40%;
    text-align: right;
}
form div + div {
    margin-top: 18px;
}

input, textarea, select {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font-family: 1em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;

    height: 26px;

}
input:focus, textarea:focus, select:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: #000;
}
textarea {
    /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    vertical-align: top;

    /* Para dar espaço suficiente para digitar algum texto */
    height: 5em;

    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
    resize: vertical;
}
.button {
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    padding-left: 90px; /* mesmo tamanho que os elementos do tipo label */

}
button {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
    margin-left: .5em;
    padding: 5px 10px; 
    margin:0;
    border: 0px solid rgb(255, 255, 255); 
    background: #01a0c4;
    text-decoration: none;
    color:rgb(255, 255, 255);
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    cursor: pointer;
    text-align: center;

}
button:hover {
    opacity: 0.8;
    background: #032228;
    color: rgb(255, 255, 255); 

}

footer{
    background-color: #01a0c4;
    margin: -8px;
    padding: 10px;
}
